.info{
    margin-left: 12vh;
    padding-top: 2rem;
    
    &__body{
        padding: 2em;
        border-radius: 20px !important;
        width:220px;
        background-color: #fff;
        &--featured{
            font-size: 1.1em;
        }

        &--post, &--social{
            color: rgb(192,184,178);
            a{
                padding: 0em 0.7em 5em 0;
                font-size: 1.5em;
                color: rgb(192,184,178);
            }
        }

        &--image{
            width: 176px;
            height: 176px;
            background-image: url(https://images01.nicepage.com/c461c07a441a5d220e8feb1a/24c300c9627254aabe43dd21/fsr.jpg);
            margin: 0 auto 0 10px;
            border-radius: 50% !important;
            display: block;
            background-size: cover;
            background-position: 50% 50%;
            background-repeat: no-repeat;
            margin: auto;
            margin-bottom: 2rem;
        }
    }
}

hr {
    border-top: 1px solid #afaaaa;
    width:55%;
    margin-left: 0px;
}
