.body{
    margin-left: 50px;
    padding-top: 35px;
}

.title{
    font-size: 20px;
    font-weight: 500;
}

.title:hover {
    color: rgb(241, 19, 3);
    cursor: default;
}

.pagination{
    display: block;
    margin-top: 50px;
}

.list{
    
}