.blog{
    width: 62%;
    height: 35vh;
    float: right;
    margin: 2em 11.5em 0 0;
    background-color: #fff;
    border-radius: 10px;

    img{
        height: 80%;   
        margin: 25px; 
        object-fit: cover;
        border-radius: 10px;
    }

    &__body{
        width: 69%;
        float: right;
        margin-top: 15px;
        margin-right: 10px;

        &__info, span{
            color: rgb(192,184,178);
            font-size: 1.2rem;
        }
        
        &__info, &__title{
            margin-top: 0.5em;
            margin-bottom: 1em;
        }

        &__title{
            font-size: 30px;
        }
    }
}