.blog{
    width: 62%;
    height: 31vh;
    float: right;
    margin: 16.5vh 9vw -12vh 0vw;
    background-color: #fff;
    border-radius: 10px;
    display: flex;

    &__abc{
        background-color: red;
    }

    &__img{
    width: 22%;
        img{ 
        max-width: 14vw;   
        height: 25.5vmin;
        margin-top: 2.5vh; 
        margin-left: 2.5vh; 
        object-fit: cover;
        border-radius: 10px;
        }
    }

    &__body{
        max-width: 68%;
        margin-top: 2.5vh;
        margin-left: 4vw;

        &__info, span,  &__read{
            color: rgb(192,184,178);
            font-size: 1.3em;
        }

        span, &__read{
            font-size: 2.1vmin;
        }
         
        &__info, &__title{
            margin-top: 1vh;
            margin-bottom: 2vh;
        }
        
        span, &__title{
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 4;  
            overflow: hidden;
        }

        &__title{
            font-size: 2em;
            text-decoration: none;
            color: black;
            -webkit-line-clamp: 1;
        }
    }
}


@media only screen and (max-width : 950px) {
    .blog__img img {
        height: 20vh;
    }
} 

@media only screen and (max-width : 950px),
            screen and (max-height: 800px)  {
    .blog__body span {
        -webkit-line-clamp: 2; 
    }
} 

@media only screen and (max-width : 950px) {
    .blog {
        clear: both;
        width: 80%;
        height: 25vh;
    }
} 

.button{
    padding: 3vh 3vh;
    border-radius: 10px;
    cursor: pointer;
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 4vh 3.2vw;
    background-image: url(add-button.png);
    background-size: cover;
}

.tooltip {
    visibility: hidden;
    width: 120px;
    background-color: rgb(121, 118, 118);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 104%;
    left: 50%;
    margin-left: -60px;
    font-size: 2vh;
}

.tooltip::after{
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgb(82, 78, 78) transparent transparent transparent;
}

.button:hover .tooltip {
    visibility: visible;
  }